* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    background: #2691d9;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    padding: 1% 3%;
    justify-content: space-between;
}

nav h1 {
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
    background: #000;
    padding: 5px 12px;
}

.link {
    text-align: right;
    flex: 1;
}

.link ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

.link li a {
    text-decoration: none;
    display: inline-block;
}

.link a {
    border-radius: 10px;
    border: 1px solid;
    padding: 6px 20px;
    background: #000;
    color: #fff;
}


.link a:hover {
    background-color: #e6e6fa;
    color: #808080;
}

.home {
    width: 100%;
    background: #fff;
    align-items: center;
    height: 100vh;
}

.home img {
    border-radius: 50%;
    width: 20%;
    height: 60%;
    text-align: center;
}

@media(max-width:400px) {
    .board h1 {
        font-size: 20px;
        padding: 10px;
    }

    .board {
        border-radius: 10px;
        line-height: 20px;
        width: 300px;
    }
}

.board {
    position: absolute;
    top: 20%;
    width: 30%;
    color: #fff;
    left: 40%;
    border: 1px solid;
    border-radius: 20px;
    background: #000;
    line-height: 40px;
}

.board h1 {
    font-size: 30px;
    padding: 30px;
    text-align: center;
}

.board p {
    font-size: 20px;
    padding: 10px;

}

.board span {
    text-transform: uppercase;
    font-size: 700;
}

.box {
    display: flex;
    width: 80%;
    margin-top: 10px;
    justify-content: space-evenly;
    margin-right: 60px;
}

.flex {
    flex: 1;
    padding: 0px 20px;
    margin: 20px;
    border: 2px solid #adadad;
    background: #2691d9;
    border-radius: 20px;
    margin-right: 100px;
}

.flex h3 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 10px;
}

.flex ul li {
    list-style: none;
    line-height: 35px;
}

.flex:hover {
    box-shadow: 0 0 20px 0px;

}

.tact {
    border-radius: 20px;
    background-color: #2691d9;
    color: #fff;
    width: 10%;
    text-align: center;
    padding: 12px 50px;
    position: relative;
    top: -10%;
    left: 80%;
}

.tact a {
    text-decoration: none;
    color: #fff;

}

.tact:hover {
    box-shadow: 0 0 20px 0px;
}

.center {
    width: 30%;
    height: 50%;
    background: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid silver;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 1s;
}

.txt_field span::before {
    contain: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2691d9;
}


.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100px;
}



.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    font-size: 16px;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}



.reg_form {
    width: 30%;
    height: 90%;
    position: absolute;
    transform: translate(-30%);
    top: 10%;
    left: 50%;
    background: #fff;
}

.reg_form h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 2px solid silver;
}

.reg_form form {
    box-sizing: border-box;
    padding: 0 40px;
}

form .name {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #adadad;
}

select {
    margin: 0 auto;
    position: relative;
    left: 210px;
    top: 15px;
}

.name input {
    width: 100%;
    border: none;
    height: 25px;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 0 5px;
}

.name label {
    position: absolute;
    left: 42%;
    top: 90%;
    transform: translateY(30%);
    color: #000;
    font-size: 16px;
    pointer-events: none;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #777;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: none;
}

input[type="submit"]:hover {
    border-color: #777;
    transition: .5s;
}

.log {
    text-align: center;
    font-size: 16px;
    color: #666666;
    margin: 30px 0;
}

.log a {
    color: #2691d9;
    text-decoration: none;
}

.log a:hover {
    text-decoration: underline;
}

.text {
    position: absolute;
    left: 8%;
}

textarea {
    width: 500px;
    height: 100px;
}

.mit {
    width: 50%;
    border: #2691d9;
}

.mit a {
    text-decoration: none;
    position: absolute;
    top: 85%;
    left: 35%;
    border-radius: 10px;
    border: 1px solid #2691d9;
    color: #fff;
    background: #2691d9;
    padding: 12px 40px;
}

footer {
    width: 100%;
    background: #2691d9;
    margin: 50px auto;
    padding: 20px 0;
    background-position: center;
    background-size: cover;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    background: ;
}

.foot-row {
    flex-basis: 20%;
    padding: 10px;
}

.foot-row h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.foot-row ul li {
    list-style: none;
}

.row {
    text-align: center;
    margin-top: 60px;
    background: #000;
    color: #fff;
    width: 20%;
}